/* Ajuste del header cuando el menú está expandido */
.menu-expanded .header-navbar {
  width: calc(100% - 300px);
  margin-left: 25px; /* Mantiene el header en su posición cuando el menú está expandido */
  transition: margin-left 0.3s ease;
}

/* Ajuste del header cuando el menú está colapsado */
.menu-collapsed .header-navbar {
  width: calc(100% - 120px);
  margin-left: -165px; /* Mueve el header hacia la izquierda cuando el menú está colapsado */
  transition: margin-left 0.3s ease;
}

/* Header fijo en la parte superior */
.header-navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px; /* Altura fija del header */
  width: 100%; /* Ajuste del ancho */
  z-index: 1000;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: margin-left 0.3s ease;
}

